body {
   padding: 0;
   margin: 0;
}

.container {
    background-color: #1f2937;
    color: white;
    padding: 0 80px 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.header-logo p{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.header-items {
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.discribe {
    display: flex;
}

.text-button {
    padding: 0;
}

.text-button p {
    margin: 1px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.sign-up {
    margin-top: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 2px;
}

.img {
    background-color: rgba(240, 255, 255, 0.406);
    width: 500px;
}